@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

$bg-color: #fffafa;
$orange: #eb735a;
$simon_width: 1200px;

body {
  background-color: $bg-color;
  padding: 5px;

  header {
    border-bottom: 1px solid;

    .recomanacions-block {
      .square {
        width: 1rem;
        height: 1rem;
        background-color: $orange;
        transform: translateY(-1px);
      }

      display: flex;
      align-items: start;
      gap: 0.5rem;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      border-bottom: 3px solid;
      padding-bottom: 5px;
      width: fit-content;
    }
  }

  .main-page-content {
    h1 {
      font-family: 'Open Sans', sans-serif;
      font-style: italic;
    }

    .main-article {
      background: linear-gradient(to left, rgba(0, 0, 0, 0) 30%, rgb(0, 0, 0) $simon_width/2),
      url("https://media.diariouno.com.ar/p/2b6588b20e5821fc402172c6cb7b8147/adjuntos/298/imagenes/009/380/0009380455/1200x0/smart/netflix-yo-soy-simon2jpg.jpg");
      background-size: contain;
      background-position-x: right;
      background-repeat: no-repeat;
      color: #ffffff;
      border-radius: 30px;
      padding: 20px 30px;

      .article-header {
        display: flex;
        justify-content: space-between;

        .recomanacio {
          font-family: 'Montserrat', sans-serif;
          font-size: 0.65rem;
          background-color: $orange;
          border-radius: 3px;
          padding: 2px 5px;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: max-content;
        }

        .edat {
          color: #000000;
          background-color: #ffffff;
          font-family: 'Arial';
          font-weight: bold;
          padding: 10px;
          border-radius: 10px;
        }
      }

      .article-content {
        .titol {
          font-family: 'Caprasimo', serif;
          font-style: normal;
          font-size: 1.5rem;
          font-weight: normal;
          width: 200px;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  body {
    .main-page-content {.main-article {
        background-size: cover;
      }
    }
  }
}