@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

$bg-color: #fffafa;
$orange: #eb735a;
$progress_bg: #e6e6e1;
$question_gray: #c3c3c3;

// $simon_width: 1200px;
// $simon_height: 675px;
// $simon_aspectRatio: $simon_width / $simon_height;

$article_max_width: 800px;
$article_gap: 20px;
$article_max_width_2: calc(($article_max_width) + $article_gap * 4);
$small_screen_width: 500px;
$smaller_screen_width: 400px;

@mixin img-bg($height) {
  position: absolute;
  z-index: -1;
  pointer-events: none;
  top: 0;
  right: 0;
  height: $height;
}

body {
  background-color: $bg-color;
  padding: 5px;

  header {
    border-bottom: 1px solid;

    .recomanacions-block {
      .square {
        width: 1rem;
        height: 1rem;
        background-color: $orange;
        transform: translateY(-1px);
      }

      display: flex;
      align-items: start;
      gap: 0.5rem;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      border-bottom: 3px solid;
      padding-bottom: 5px;
      width: fit-content;
    }
  }

  .main-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    h1 {
      font-family: 'Open Sans', sans-serif;
      font-style: italic;
      align-self: flex-start;
    }

    .main-article,
    .secondary-article {
      .simon-background {
        @include img-bg(100%);
        
        @media (max-width: $article_max_width) {
          right: -20%;
        }
        
        @media (max-width: $smaller_screen_width) {
          right: -80%;
        }
      }

      @media (max-width: $small_screen_width) {
        width: 95%;
        padding: 20px 10px;
      }

      background: linear-gradient(to left, rgba(0, 0, 0, 0) 30%, rgb(0, 0, 0) $article_max_width*0.65);
      // url(#{$simon_url});
      display: inline-block;
      color: #ffffff;
      border-radius: 30px;
      padding: 20px 30px;
      position: relative;
      min-height: 360px;
      max-width: $article_max_width + $article_gap * 2;
      overflow: hidden;

      .article-header {
        display: flex;
        justify-content: space-between;
        
        .recomanacio {
          font-family: 'Montserrat', sans-serif;
          font-size: 0.65rem;
          background-color: $orange;
          border-radius: 3px;
          padding: 2px 5px;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: max-content;
        }

        .edat {
          color: #000000;
          background-color: #ffffff;
          font-family: 'Arial';
          font-weight: bold;
          padding: 10px;
          border-radius: 10px;
        }
      }

      .article-content {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.8rem;
        width: 55%;
        
        @media (max-width: $small_screen_width) {
          width: 100%;
        }

        .titol {
          font-family: 'Caprasimo', sans-serif;
          font-style: normal;
          font-size: 1.5rem;
          font-weight: lighter;
          width: 200px;
          margin-bottom: 10px;
          margin-top: 0;
        }

        .etiquetes {
          font-weight: bold;
          width: 50%;
          margin-bottom: 20px;
        }

        .sinopsi {
          margin-bottom: 20px;
          line-height: 1.6;
        }

        .dades {
          // background-color: red;
          text-align: left;
          
          tr {
            th {
              text-transform: uppercase;
              font-weight: normal;
              font-size: 0.8rem;

              .valoracio-header {
                display: flex;
                // justify-content: space-between;
              }

              .rate {
                background-color: $question_gray;
                color: #000000;
                font-weight: bold;
                border-radius: 5px;
                padding: 7px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 10px;
                height: 10px;
                position: relative;
                left: 30px;
                bottom: 5px;
              }
            }

            // background-color: blue;
            $table_adjust: -10px;

            td {
              margin-left: 0;
              padding-left: 0;
              margin-top: -10px;
              font-family: 'Montserrat', serif;
              font-size: 0.75rem;

              .tabla-valoracio {
                margin-top: $table_adjust;
              }
              
              progress {
                appearance: none;
                border-radius: 10px;
                height: 7px;
                overflow: hidden;
                background-color: $orange;
                display: flex;
                align-self: center;
                width: 80px;
                margin: 5px 10px;

                &::-webkit-progress-bar {
                  background-color: $progress_bg;
                }

                &::-webkit-progress-value {
                  background: $orange;
                }

                &::-moz-progress-bar {
                  background: $orange;
                  background-color: $progress_bg;
                }
              }
            }

            .ambits,
            .temes {
              display: flex;
              margin-top: $table_adjust;

              @media (max-width: calc($small_screen_width - 150px) ) {
                // display: block;
                font-size: 80%;
              }
              
              ul {
                list-style: none;
                padding-left: 0;
                margin-left: 0;
                text-align: left;
                width: 50%;

                li {
                  margin: 5px 2px;
                }
              }
            }
          }
        }
      }
    }

    .articulos-secundarios {
      display: flex;
      gap: $article_gap;
      justify-content: center;
      margin: 0px 10px;
      // background-color: red;
      
      @media (max-width: $article_max_width_2) {
        flex-direction: column;
        width: 100%;
      }

      .secondary-article {
        background: none;
        border-radius: 10px;
        // width: 100%;
        width: ($article_max_width / 2) - $article_gap;
        // backgroun  d-color: blue;

        @media (max-width: $article_max_width_2) {
          width: calc(100vw - $article_gap*5)
        }

        @media (max-width: $small_screen_width) {
          width: calc(100vw - $article_gap*2.5)
        }

        .everything-background {
          @include img-bg(100%);
          left: -20%;

          @media (max-width: $article_max_width_2) {
            @include img-bg(100vw)
          }

          @media (max-width: $smaller_screen_width) {
            @include img-bg(100%)
          }
        }

        .jamie-background {
          @include img-bg(120%);
          left: 0;

          @media (max-width: $article_max_width_2) {
            @include img-bg(100vw)
          }

          @media (max-width: $smaller_screen_width) {
            @include img-bg(100%)
          }
        }
        .article-content {
          width: 100%;

          .titol {
            font-family: 'Open Sans', sans-serif;
            font-style: italic;
          }

          .movie-info {
            display: none;
            position: absolute;
            bottom: 0;
            margin-right: 30px;

            @media (max-width: $small_screen_width) {
              width: 80%;
            }

            .dades {
              display: flex;
              justify-content: center;

              tr {
                .tabla-valoracio {
                  margin-right: 50px;

                  @media (max-width: $small_screen_width) {
                    margin-right: auto;
                  }
                }

                .temes {
                  ul {
                    width: fit-content;
                  }
                }
              }
            }
          }
        }

        &:hover .article-content .movie-info {
          display: block;
        }
        &:hover .article-header,
        &:hover .article-content .titol,
        &:hover .article-content .etiquetes {
          display: none;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.5)
        }
      }
    }
  }
}